{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="contact" class="section-padding bg-gray">

  <div class="home-container">
    <div class="home-content-img"></div>
  </div>


  <fieldset class="fieldset-border">
    <legend class="legend-border"><p>SEJA BEM VINDO</p></legend>
    <div class="home-content">
      <div class="content-one" style="background-image: url('../static/img/mulher.jpg');"></div>
      <div class="content-two">
        
        <p>O atendimento psicológico online foi regulamentada no Brasil pelo Conselho Federal de Psicologia em
          12/11/2018, através da Resolução CFP 011/2018.</p>
        <p>Trata-se de uma abordagem equivalente a psicoterapia presencial. A Terapia Online amplia o acesso de serviços
          de psicologia à população que vive em regiões com acesso limitado a serviços psicológicos e também para
          brasileiros que moram no exterior.</p>
        <p>Tem a finalidade de ajudar a resolver questões, que possam ser trabalhadas à distância por mecanismos
          tecnológicos através da internet por meio de vídeo conferência (<strong>Skype, Messenger ou
            WhatsApp</strong>)</p>
        <p>Esse serviço não é indicado para casos de saúde graves. Crianças e menores de 18 anos precisam de autorização
          por escrito de um responsável.</p>
        <p><strong>ATENDEMOS:</strong> Adolescentes, Adultos, Idosos e Grupos.</p>
      </div>
    </div>
  </fieldset>

    <fieldset class="fieldset-border">
    <legend class="legend-border"><p>PRA QUEM SE DESTINA?</p></legend>

    <div class="home-content">
      <div class="content-four">
      
        <p>A orientação psicológica online destina-se a pessoas que estejam passando por um sofrimento presente,
          conflitos pessoais, dúvidas pessoais, ansiedade, sintomas depressivos, mudanças em decorrências de
          situações profissionais, estresse, tristeza, medo, conflitos em relacionamentos e outras questões.</p>
        <p>Além disso, ela se destina a brasileiros que moram no exterior e que a língua estrangeira seja uma
          barreira para o acolhimento de sua demanda pelos serviços de saúde locais</p>

      </div>
      <div class="content-three" style="background-image: url('../static/img/mulher2.jpg');"></div>
    </div>
    </fieldset>

    <fieldset class="fieldset-border">
    <legend class="legend-border"><p>OLÁ, EU SOU A MARIANA HILDEBRAND</p></legend>
    
    <div class="home-content">
      <div class="content-one" style="background-image: url('../static/img/mulher3.jpg');"></div>
   
      <div class="content-two">
        

       <h5>FORMAÇÃO ACADÊMICA</h5> 

        <p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo.
          Nullam dapibus fermentum ipsum. Etiam quis quam.
          Integer lacinia. Nulla est.
          Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.
          Integer vulputate sem a nibh rutrum consequat.
          Maecenas lorem. Pellentesque pretium</p>

          <h5>CURSOS E CERTIFICAÇÕES</h5>
          
          <p>Etiam posuere quam ac quam. Maecenas aliquet accumsan leo.
          Nullam dapibus fermentum ipsum. Etiam quis quam.
          Integer lacinia. Nulla est.
          Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis.
          Integer vulputate sem a nibh rutrum consequat.
          Maecenas lorem. Pellentesque pretium</p>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      
      </div>
    </div>

  </fieldset>


</section>


{% include 'footer.html' %}
{% endblock %}